# Ignore Python virtual environment
venv/

# Ignore node_modules (React dependencies)
frontend/node_modules/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore IDE config files
.vscode/
